.card1 {
  font-size: 19px;
  color: red;
  font-family: sans-serif;
  font-style: normal;
}
.card2 {
  font-size: 19px;
  color: blue;
  font-family: sans-serif;
  font-style: normal;
}
.compare {
  font-size: 19px;
  color: purple;
  font-family: sans-serif;
  font-style: normal;
}
